DB_URL=jdbc:mysql://localhost:3306/huesitos?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
DB_USER=root
DB_PASSWORD=tu_contraseña_db
SMTP_USER=tu_correo@gmail.com
SMTP_PASSWORD=tu_contraseña_de_aplicación_16_caracteres
MERCADOPAGO_ACCESS_TOKEN=tu_token_mercado_pago
MERCADOPAGO_PUBLIC_KEY=tu_llave_publica_mercado_pago
